
/*Meniul*/
.nav-bar li a:hover{
	cursor: url(../img/macCursor.cur), auto;
	animation: boxShadowChange 1s ease 0ms infinite;

}

@keyframes boxShadowChange {
	0% {
		box-shadow:  0px 0px 50px 0px rgba(238, 156, 167,1);
	}
	10% {
		box-shadow:  0px 0px 50px 0px rgba(255, 184, 140,1);
	}
	20% {
		box-shadow:  0px 0px 50px 0px rgba(72, 177, 191,1);
	}
	30% {
		box-shadow:  0px 0px 50px 0px rgba(244, 92, 67,1);
	}
	40% {
		box-shadow:  0px 0px 50px 0px rgba(221, 94, 137,1);
	}
	50% {
		box-shadow:  0px 0px 50px 0px rgba(221, 94, 137,1);
	}
	60% {
		box-shadow:  0px 0px 50px 0px rgba(238, 156, 167,1);
	}
	70% {
		box-shadow:  0px 0px 50px 0px rgba(255, 184, 140,1);
	}
	80% {
		box-shadow:  0px 0px 50px 0px rgba(72, 177, 191,1);
	}
	100% {
		box-shadow:  0px 0px 50px 0px rgba(244, 92, 67,1);
	}

}

.search-input input[type="text"]:focus:placeholder {
	visibility: none;
}

.search-input input[type="text"]:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: box-shadow 500ms ease;

}
.search-input:hover img{
 	right: 20px;
 	transition: right 500ms ease;
}

button {
	cursor: url(../img/macCursor.cur), auto;
}

button:hover {
	box-shadow: inset 4px 2px 30px 0px rgba(0,0,0,0.3);
	transition: box-shadow 500ms ease;
}
body {
	cursor: url(../img/macNormal.cur), auto;
}

.photography {
	cursor: url(../img/macNormal.cur), auto;
}

.contact-element a{
	cursor: url(../img/macHelp.cur), auto;
}

.some-info ul li a{
	position: relative;
	cursor: url(../img/macCursor.cur), auto;
}

.some-info ul li a::after {
	content: '';
	background-color: #fed766;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 500ms ease;
}

.some-info ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}


::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}








